body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.content {
  width: 100%;
  /* ATTENTION: NONE OF THIS IS WORKING */
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
}

#root {
  max-width: 960px;
  width: 100%;
}