.cart-modal {
  padding: 20px;
  background: #f4f5f7;
  z-index: 100;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 90%;
  height: 90vh;
  overflow-y: auto;
}

.cart-modal h1 {
  width: max-content;
  padding-bottom: 20px;
  font-size: 24px;
}

.exit-icon {
  width: max-content;
  position: absolute;
  right: 20px;
}

.exit-icon svg {
  height: 40px;
  filter: invert(60%) sepia(79%) saturate(6313%) hue-rotate(17deg) brightness(92%) contrast(101%);
}

.exit-icon:hover {
  cursor: pointer;
}

.continue-shopping-btn {
  height: 50px;
  width: 220px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #c75c00;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.summary > div {
  display: flex;
  justify-content: space-between;
}