.product-card {
  display: grid;
  grid-template-columns: 160px 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.product-card img {
  grid-area: 1 / 1 / 4 / 2;
  height: 200px;
}

.title {
  font-weight: 600;
  grid-area: 1 / 2 / 2 / 4;
}

.details {

}

.price {
  grid-area: 1 / 2 / 2 / 4;
  align-self: end;
}

.quantity-container {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.quantity-container .label {
  padding-bottom: 10px;
  display: inline-block;
}

.quantity-control {
  display: inline-block;
  padding: 0 20px;
}

.quantity-container .limit {
  grid-row-start: 2;
} 

.description {
  grid-area: 4 / 1 / 6 / 4;
  font-size: 14px;
}

.add-to-cart-btn {
  grid-area: 2/ 3 / 3 / 4;
  width: 120px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #c75c00;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.cart-success-msg {
  color: green;
}
