.product-card {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-gap: 20px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.product-card img {
  height: 200px;
}

.title {
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.cart-success-msg {
  color: green;
}