button:hover {
  cursor: pointer;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-gap: 50px;
}

.cart-icon svg {
  height: 24px;
}

.cart-icon:hover {
  cursor: pointer;
}

/* removes spinners/arrows for the number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}