.backdrop {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 50%;
  z-index: 10;
  cursor: auto;
}

.shop-container {
  background: #006FCD;
  padding: 20px;
}

.sticky-banner {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sticky-banner img {
  height: 50px;
  filter: invert(18%) sepia(0%) saturate(2%) hue-rotate(10deg) brightness(99%) contrast(81%);
}

.cart-container {
  grid-column-start: 3;
  display: flex;
  justify-self: end;
  gap: 20px;
}

.cart-container button {
  width: 120px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #c75c00;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.cart-icon {
  display: grid;
  justify-items: center;
}

.cart-icon svg {
  height: 28px;
}

.cart-icon:hover {
  cursor: pointer;
}

.num-cart {
  font-size: 20px;
  display: inline-block;
  width: min-content;
  color: green;
}

.shop-container h1 {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.products-container {
  display: grid;
  /* grid-template-rows: repeat(auto-fill, 200px); */
  grid-gap: 50px;
}